* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  color: #fff;
  height: auto;
  width: 270px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.row {
  background-color: black;
  color: #fff;
  height: auto;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}

.btn {
  height: auto;
  width: 40px;
}
